@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .center {
    display: flex;
    justify-items: center;
    align-items: center;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .hide-scrollbar-c::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .hide-scrollbar-f {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .welcome-content {
    position: relative;
  }
  .welcome-content:before {
    content: '';
    background: url('assets/hero_back_image.jpg') no-repeat center center /
      cover;

    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  .Hero {
    position: relative;
    z-index: 1;
  }
}
